.BookCard {
    width: 100%;
    max-width: 200px; /* Adjust the maximum width as needed */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .CardImage img {
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  .CardContent {
    padding: 16px;
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  h3 {
    font-size: 1rem;
    color: #555;
    margin-bottom: 12px;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 12px;
  }

  .CardFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .CardFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .Reviews {
    display: flex;
    align-items: center; 
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: yellowgreen;
        color: #fff;
      }
  }
  
  .LikeButton {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        color: #f00000;
      }
  }
  
  .LikeButton.Liked {
    background-color: #f00000;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    .BookCard {
      max-width: 100%;
    }
  
    .CardImage img {
      height: 200px;
    }
  }
  
  @media (min-width: 992px) {
    .BookCard {
      max-width: calc(25% - 20px); /* Four books in a row with margin */
    }
  }
  
