/* ReviewDisplay.css */

.ReviewDisplay {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.UserInfo {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

}

.UsernameLink {
  text-decoration: none;
  color: #7d1515;
  display: flex;
  align-items: center;
}

.UsernameLink:hover {
  text-decoration: underline;
}

.Avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.ReviewInfo {
  margin-top: 8px;
}

.BookInfo {
  display: flex;
  margin-top: 8px;
}

.TitleLink {
  text-decoration: none;
  color: #a074f3;
}

.TitleLink:hover {
  text-decoration: underline;
}

.CardImage {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-right: 16px;
}
