/* ReviewDisplay.css */

.ReviewDisplay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.UserInfo {
  display: flex;
  align-items: center;
}

.UsernameLink {
  text-decoration: none;
  color: #7d1515;
  display: flex;
  align-items: center;
}

.UsernameLink:hover {
  text-decoration: underline;
}

.Avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.ReviewInfo {
  flex-grow: 1;
  margin: 0 16px;
}

.BookInfo {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: stretch;
  margin-top: 16px;
  text-align: right;
}

.TitleLink {
  text-decoration: none;
  color: #a074f3;
}

.TitleLink:hover {
  text-decoration: underline;
}

.CardImage {
  border-radius: 8px;
}

@media (min-width: 768px) {

  .CardImage img {
    height: 200px;
  }
}