
/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');

.App {
  text-align: center;
  color: green;
  font-weight: bold;
  min-height: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.Loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

